@model IEnumerable<GameManager.Models.Player>

<div class="container mt-3">
    <h2 class="mb-4">@ViewData["Header"]</h2>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Country</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model)
            {
                <tr>
                    <td>@player.PlayerId</td>
                    <td>@player.Name</td>
                    <td>@player.PhoneNumber</td>
                    <td>@player.Country</td>
                </tr>
            }
        </tbody>
    </table>
</div>
