@model IEnumerable<Connect4Game.Game>

<div class="container mt-3">
    <h2 class="mb-4">@ViewData["Header"]</h2>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Game Id</th>
                <th>Game Status</th>
                <th>Start Time</th>
                <th>Player Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model)
            {
                <tr>
<<<<<<< HEAD
                    <td>@game.gameId</td>
                    <td>@game.gameStatus</td>
                    <td>@game.startTime.ToString("g")</td>
                    <td>@game.playerId</td>
=======
                    <td>@game.GameId</td>
                    <td>@game.Status</td>
                    <td>@game.StartTime.ToString("g")</td>
                    <td>@game.PlayerId</td>
>>>>>>> Client
                </tr>
            }
        </tbody>
    </table>
</div>
